header {
  font-size: 60px;
  margin: 20px;
}

body {
  font-size: 20px;
}

hr {
  border: 1px solid lightgray;
  margin: 20px;
}

input {
  margin: 20px;
}

button {
  margin: 10px;
  color: white;
  background-color: rgb(55, 220, 55);
  border-radius: 5px;
  border: none;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}

.posts {
  font-size: 15px;
  font-weight: light;
  font-style: italic;
}

.btn-remove {
  font-size: 10px;
  background-color: red;
  color: white;
  height: 20px;
  width: 50px;
  border-radius: 5px;
  border: none;
}

.btn-comment {
  font-size: 10px;
  background-color: skyblue;
  color: white;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  border: none;
}
