header {
  font-size: 60px;
  margin: 20px;
}

body {
  font-size: 20px;
}

hr {
  border: 1px solid lightgray;
  margin: 20px;
}

input {
  margin: 20px;
}

button {
  margin: 10px;
  color: white;
  background-color: skyblue;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}

.posts {
  font-size: 15px;
  font-weight: light;
  font-style: italic;
}
